%article.product
  %h1= @product.name

  %p= @product.description

  - if session[:values].present?
    %strong
      = @product.price * session[:values].last.to_f
      = session[:values].first
  - else
    %strong
      = @product.price
      = "EUR"

  = link_to 'Shut up and take my money!', '#'

= link_to 'Back to product list', products_path
